.home_page {
    .home_header {
        height: 100px;
        text-align: center;
        line-height: 100px;
    }
    .filter_box {
        height: 100px;
        text-align: center;
        line-height: 100px;
        background: #21243a;
    }
    .shuoshuo_wrap {
        margin-top:10px;
        height: 500px;
        text-align: center;
        line-height: 100px;
        background: #21243a;
    }
}