.normal_publish {
    .h3 {
        padding-bottom: 10px;
    }
    .upload_item{
        margin-top: 20px;
    }
    .btns{
        display: flex;
        justify-content: center;
        padding-top:20px;
    }
}