.main_login_form {
    max-width: 300px;
    height: 400px;
    position: absolute;
    left: 0;
    top:0;
    right:0;
    bottom:0;
    margin: auto;
}

.main_login_form .login-form-forgot {
    float: right;
}

.main_login_form .login-form-button {
    width: 100%;
}