@import "../../scss/common.scss";

html body {
    background: #f0f0f0;
}

.header {
    background: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    z-index: 1000;

    .console {
        position: relative;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
    }

    .header_inner {
        width: 1120px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;

        .nav_item {
            color: #333;
            font-size: 14px;
            margin-right: 30px;
            cursor: pointer;

            &:hover {
                color: #ff6fa2;
            }
        }

        .hearder_right {
            .header_img {
                cursor: pointer;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: #fff;
                overflow: hidden;

                img {
                    width: 100%;
                }
            }
        }
    }
}

.content {
    padding-top: 60px;
}

.user_menu_list_router {
    .menu_item {
        cursor: pointer;

        &:hover {
            color: $red;
        }
    }
}

.footer_c {
    padding-top: 30px;
    border-top: 1px solid #e5e5e5;
    padding-bottom: 20px;

    p {
        text-align: center;
        margin-bottom: 0;

        .mail {
            background: #ff005e;
            font-size: 14px;
            color: #fff;
            padding: 2px 10px;
            display: inline-block;
            margin-bottom: 10px;
        }

        .powered_by {
            letter-spacing: 1px;
        }
    }
}

.example_img_wrap {
    display: flex;
    justify-content: center;
    align-content: center;

    .example_img {
        max-width: 100%;
    }
}